<!-- Button trigger modal -->
<button
  type="button"
  class="btn btn-secondary"
  data-bs-toggle="modal"
  data-bs-target="#exampleModal"
>
  Registrate
</button>

<!-- Modal -->
<form [formGroup]="alumnoFormGroup">
  <div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">
            Registro de alumno
          </h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div
            id="nombreAlumno"
            class="form-floating mb-3"
            style="height: 70px"
          >
            <input
              formControlName="firstName"
              type="text"
              class="form-control"
              id="floatingInput"
              placeholder="name@example.com"
            />
            <label for="floatingInputValue" style="font-size: 13px"
              >nombre</label
            >
          </div>
          <div
            id="apellidosAlumno"
            class="form-floating mb-3"
            style="height: 70px"
          >
            <input
              formControlName="lastName"
              type="text"
              class="form-control"
              id="floatingInput"
              placeholder="name@example.com"
            />
            <label for="floatingInputValue" style="font-size: 13px"
              >apellidos</label
            >
          </div>
          <div id="emailAlumno" class="form-floating mb-3" style="height: 70px">
            <input
            formControlName="email"
              type="email"
              class="form-control"
              id="floatingInput"
              placeholder="name@example.com"
            />
            <label for="floatingInputValue" style="font-size: 13px"
              >email</label
            >
          </div>
          <div id="edadAlumno" class="form-floating mb-3" style="width: 200px">
            <input
              formControlName="edad"
              type="number"
              class="form-control"
              id="floatingInput"
              placeholder="name@example.com"
            />
            <label for="floatingInputValue" style="font-size: 13px">edad</label>
          </div>
          <hr />
          <select
            class="form-select form-select"
            aria-label="Default select example"
            style="font-size: 13px"
          >
            <option selected>carrera</option>
            <option value="1">Caballero</option>
            <option value="2">Arquero</option>
            <option value="3">Guardia Real</option>
            <option value="4">Explorador</option>
            <option value="5">Artillero</option>
            <option value="6">Ingeniero</option>
          </select>
          <hr/>
          <pre>{{alumnoFormGroup.value | json}}</pre>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <button type="submit" class="btn btn-primary">Enviar</button>
        </div>
      </div>
    </div>
  </div>
</form>
