.contenedor{
  display: flex;
  justify-content: space-between;
}

.logo{
  display: flex;
  justify-content: center;
}

.buttons{
  display: flex;
  align-items: center;
  width: 180px;
  justify-content: space-around;

}



