<article class="articulo">
  <h2 class="titulo">Artículo</h2>
  <span class="cajaDeArticulo">
    <p class="texto">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eum libero
      tempore odit ab esse reprehenderit possimus veniam, quasi consequatur
      mollitia dolor ipsam in a aut, nostrum quibusdam cumque dignissimos?
      Labore blanditiis dignissimos accusamus voluptatibus ea impedit quos
      voluptatum odio ducimus mollitia soluta numquam, quam magnam repudiandae
      exercitationem assumenda odit, tempore tenetur quod quo! Odio temporibus
      harum, tenetur aut similique et obcaecati tempora quis non saepe dolores?
      Voluptatibus veritatis laudantium fugit hic debitis, quae, explicabo
      adipisci accusantium exercitationem sunt ea dolorem ipsa, vero natus.
      Quidem accusamus qui, veniam velit, libero culpa ea, porro officia
      voluptatibus consectetur repudiandae nulla cum? Illo, voluptates.
    </p>
  </span>
</article>
